$color-primary-one : #20BADC;
$color-primary-two: #41C4E0;
$color-secondary-one: #D42133;
$color-secondary-two: #D1A133;
$color-white: #FFFFFF;
$color-gray: #b9b9b9;
$color-gray-two: #ececec;
$color-gray-three:#999999;

$color-background-one : #FFFFFF;
$color-background-two: #4a4a4a;
