$font-family-adam: 'Adam', 'Helvetica Neue', 'Arial', sans-serif;
$font-family-gotham: 'Gotham', 'Adam', 'Helvetica Neue', 'Arial', sans-serif;
$font-family-arial: 'Arial Rounded', 'Gotham', 'Helvetica Neue', 'Arial', sans-serif;
$font-family-normal: 'Arial','sans-serif';

$font-size-h2-big : 65px;
$font-size-h2-normal : 30px;
$font-size-h3 : 32px;

