//$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$font-adam: 'Adam', 'Helvetica Neue', 'Arial', sans-serif;
$font-gotham: 'Gotham', 'Adam', 'Helvetica Neue', 'Arial', sans-serif;
$font-arial: 'Arial Rounded', 'Gotham', 'Helvetica Neue', 'Arial', sans-serif;

$path-image: 'assets/images/';
$path-icons: 'assets/images/';