<nav class="nav nav-pills justify-content-center">
  <a [routerLinkActive]="['active']" class="nav-item nav-link" [routerLink]="['/Nosotros']">Sobre Nosotros</a>
  <a [routerLinkActive]="['active']" class="nav-item nav-link" [routerLink]="['/CambioMoneda']">Cambio de Moneda</a>
  <a [routerLinkActive]="['active']" class="nav-item nav-link" [routerLink]="['/Contactenos']">Contáctenos</a>
  <a [routerLinkActive]="['active']" class="nav-item nav-link" [routerLink]="['/Notificaciones']">Notificaciones</a>
</nav>